@font-face {
    font-family: "font-1";
    src: url("/font/intreb.ttf");
}

@font-face {
    font-family: "font-2";
    src: url("/font/gelica-regular.otf");
}
@font-face {
    font-family: "font-3";
    src: url("/font/Assistant-VariableFont_wght.ttf");
}

html{
    background-color: #f3e9d7;
    margin: 10px;
    
}
.site_photo{
    max-width: 50%;
    max-height: 50%;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    color: black;
}
.photo img{
   max-width: 100%;
   align-content: center;
}
.nav-bar_title{
    text-align: center;
    font-size: 10pt;
    background-color: rgb(237, 76, 35);
    color: white;
    font-family: "font-1";
    margin-bottom: 0;
    padding: 0 0;
}
.nav-bar_nav{
    list-style: none;
    background-color: #f3e9d7;
    margin-left: 20px;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    margin-top: 0;
    
}
.nav-bar li{
    display: inline;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 12pt;
    font-family: "font-2";
    color:rgb(237, 76, 35);
    border-right: 1pt solid rgb(237, 76, 35);
    padding-right: 30px;
}
.secondary-nav li{
    display: inline;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 12pt;
    font-family: "font-2";
    color:rgb(237, 76, 35);
}
.secondary-nav img{
    max-width: 5%;
    max-height: 5%;
}
.header-container{
    position: relative;
}
.header-container img{
    max-width: 95%;
    padding-top: 2em;
    padding-right: 2em;
    padding-left: 3em;
}
.header_title{
    font-family: serif;
    font-style: italic;
    font-size: 50pt;
    padding-left: 50px;
    color: #f3e9d7;
    position: absolute;
    top: 8px;
    left: 28px;
}
.header_body{
    font-family: "font-2";
    font-size: 15pt;
    color: #f3e9d7;
    padding-left: 50px;
    position: absolute;
    top: 11em;
    left: 28px;
    line-height: 25pt;
    
}
.header_button_coffee {
    font-family: "font-1";
    font-size: 8pt;
    color: #f3e9d7;
    letter-spacing: 3pt;
    padding-left: 50px;
    display: inline;
    position: absolute;
    top: 30em;
    left: 28px;
    text-decoration: underline;
}
.header_button_sub{
    font-family: "font-1";
    font-size: 8pt;
    color: #f3e9d7;
    letter-spacing: 3pt;
    padding-left: 50px;
    display: inline;
    position: absolute;
    top: 30em;
    left: 20em;
    text-decoration: underline;
}
.body-one {
    text-align: center;
}
.body_title {
    font-family: "font-1";
    font-size: 33pt;
    font-style: italic;
    color: rgb(237, 76, 35);
}
.body_paragraph {
    font-family: "font-1";
    font-size: 30pt;
    letter-spacing: 1pt;
    color: rgb(237, 76, 35);
}
h2 .header_button_shop{
    color: rgb(237, 76, 35);
    display: inline;
    font-family: "font-2";
    font-style: bold;
    text-decoration: underline;
}
.scrolling-container {
    padding-top: 5em;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    background-color: #E5D9C3;
}
.scrolling-wrapper{
    display: inline-block;
}
.scrolling-wrapper img{
    display: inline-block;
    width: 200px;
    height: auto;
    margin-right: 10px;
}
.item{
    color:rgb(237, 76, 35);
    text-align: center;
}
.item h3{
    font-family: "font-2";
    margin: 0;
    padding-bottom: 2em;
}
.item h2{
    font-family: "font-1";
    margin: 0;
}
.good_coffee{
    width: auto;
    height: auto;
}
.roasted-container{
    position: relative;
}
.roasted-container img{
    max-width: 100%;
}
.roasted_title{
    font-family: serif;
    position: absolute;
    font-size: 40pt;
    padding-left: 50px;
    color: #f3e9d7;
    top: 8px;
    left: 28px;
}
.roaster_button_coffee {
    font-family: "font-1";
    font-size: 10pt;
    color: #f3e9d7;
    letter-spacing: 3pt;
    padding-left: 50px;
    display: inline;
    position: absolute;
    top: 14em;
    left: 28px;
    text-decoration: underline solid #f3e9d7;
}
.featured{
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    background-color: #FFD272;
}
.logos{
    display: inline-block;
}
.logos img{
    display: inline-block;
    width: 200px;
    height: auto;
    margin-right: 10px;
    padding: 2em;
}
.reviews, .reviews p{
    background-color: #9A4735;
    color:#f3e9d7;
    text-align: center;
    display: inline;
}
.reviews h1{
    color: #f3e9d7;
    font-size: 20pt;
}
.reviews-one, .reviews-two, .reviews-three, .reviews-four {
    background-color: #9A4735;
    padding: 0rem;
    margin: 0rem;
}
.subscription_options{
    display: flex;
}
.coffee_club{
    text-align: center;
    color: rgb(237, 76, 35);
    display: inline;
}
.house_party{
    display: inline;
    text-align: center;
    color: rgb(237, 76, 35);
}
.house_party img{
    max-width: 400px;
    max-height: 400px;
    align-items: center;
}
.coffee_club img{
    max-width: 100%;
}
.subscription_title{
    font-size: 18pt;
    text-align: center;
}
.coffee_club_button{
    text-decoration: underline solid rgb(237, 76, 35);
}
.subscription_para{
    font-size: 8pt;
    padding-left: 8em;
    padding-right: 8rem;
    text-align: center;
}
.pods-container{
    position: relative;
}
.pods-container img{
    max-width: 95%;
    padding-top: 2em;
    padding-right: 2em;
    padding-left: 3em;
}
.pods{
    font-family: serif;
    font-size: 30pt;
    padding-left: 50px;
    color: #f3e9d7;
    position: absolute;
    top: 1.5em;
    left: 28px;
}
.pods_button_coffee {
    font-family: "font-1";
    font-size: 8pt;
    color: #f3e9d7;
    letter-spacing: 3pt;
    padding-left: 50px;
    display: inline;
    position: absolute;
    top: 18em;
    left: 28px;
    text-decoration: underline;
}
.pods_button_sub{
    font-family: "font-1";
    font-size: 8pt;
    color: #f3e9d7;
    letter-spacing: 3pt;
    padding-left: 50px;
    display: inline;
    position: absolute;
    top: 18em;
    left: 20em;
    text-decoration: underline;
}
.run_container{
    display: flex;
    background-color: #FFD272;
}
.run_information{
    display: inline;
    text-align: center;
    color: #513B25;
}
.run{
    display: inline;
}
.dine_with_us_container{
    display: flex;
}
.breakfast{
    display: inline;
    padding: 2em;
    margin-left: 2em;
}
.breakfast_information{
    display: inline;
    text-align: center;
    color: rgb(237, 76, 35);
    padding-left: 5em;
    padding-right: 6em;
    padding-top: 10em;
}
.breakfast img{
    max-width: 400px;
    max-height: 400px;
    align-items: center;
}
.breakfast_button{
    text-decoration: underline solid rgb(237, 76, 35);
    font-weight: bold;
}
.newsletter_container{
    margin-top: 6em;
}
.newsletter_container img{
    max-width: 200px;
    max-height: 200px;
    margin-left: 40%;
    margin-right: 40%;
}
.newsletter_header{
    text-align: center;
    color: rgb(237, 76, 35);
    font-size: 30pt;
}
.newsletter_para {
    text-align: center;
    color: rgb(237, 76, 35);
    font-size: 8pt;
}
.subscribe{
    align-items: center;
}
footer h1{
    color: rgb(237, 76, 35);
    font-weight: bold;
    font-size: 30pt;
    text-align: center;
    padding-bottom: 3em;
    background-color: #EFE2CA;
    margin: auto;
}
.footer_container{
    display: flex;
    background-color:#EFE2CA;
    margin: auto;
}
.footer_left{
    display: inline;
    color: rgb(237, 76, 35);
    border-right: solid rgb(237, 76, 35);
    padding: 2em;
    margin-left: 15em;
}
.footer_center{
    display: inline;
    color: rgb(237, 76, 35);
    border-right: solid rgb(237, 76, 35);
    padding: 2em;
}
.footer_right{
    display: inline;
    color: rgb(237, 76, 35);
    border-right: solid rgb(237, 76, 35);
    padding: 2em;
    margin-right: 4em;
}
.environment_container{
    display: flex;
    background-color: #EFE2CA;
    align-content: center;
    padding-left: 35em;
    padding-top: 5em;
    padding-bottom: 3em;
}
.environment_container img{
    display: inline;
    max-width: 3%;
}
.environment_container p{
    display: inline;
    color: rgb(237, 76, 35)
}
.footer_nav_bar{
    list-style: none;
    background-color: #EFE2CA;
    margin-left: 20px;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    margin-top: 0;
    
}
.footer_nav li{
    display: inline;
    font-size: 12pt;
    font-family: "font-2";
    color:rgb(237, 76, 35);
    border-right: 1pt solid rgb(237, 76, 35);
    padding-right: 20px;
    background-color: #EFE2CA;
    margin-top: auto;
}